:root {
    /* =======================================================
     SEMANTIC BRAND
     ======================================================= */

    --color-primary: var(--color-brand-600);
    --color-primary-hover: var(--color-brand-700);
    --color-primary-active: var(--color-brand-800);
    --color-primary-light: var(--color-brand-50);
    --color-primary-border: var(--color-brand-200);


    /* =======================================================
     BORDER
     ======================================================= */

    --color-border-focus: var(--color-primary);


    /* =======================================================
     INTERACTION
     ======================================================= */

    --color-selected: var(--color-primary-light);
}